<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6FD3B751BF5B8090016782B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6FD3B8C1BF5B8090016782B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6FD3B971BF5B8090016782B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
